.wrap {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    min-width: 550px !important;
}

.header {
    position: relative;
    width: 550px;
    margin: 0 auto;
    padding: 68px 0 42px;
    z-index: 20;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    width: 390px;
    margin: 0 auto;
    padding: 29px 0 23px 0;
    .buttons + .buttons {
      margin-top: 1rem;
    }
}

.text_input {
    height: 49px;
    padding: 0 11px;
    font-size: 14px;
    color: #333;
    font-family: "돋움","Dotum","Apple Gothic",sans-serif;
    border: 1px solid #ccc;
    line-height: 49px;
    box-shadow: none;
}

.id_input {
    border-bottom: 0;
}

.wrap_info {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-family: "돋움","Dotum","Apple Gothic",sans-serif;
}

.wrap_info .bar {
    color: #ebebeb;
}

.wrap_info a {
    display: inline-block;
    padding: 5px 2px;
    color: #767676;
    text-decoration: none;
}

.wrap_info a.first_child {
    padding-left: 0;
}