.list {
    list-style: none;
    padding-inline-start: 0;
    display: block;
    overflow: hidden;
    width: 100%;
    margin-top: -30px;
}

.list li {
    display: list-item;
    text-align: -webkit-match-parent;
    float: left;
    margin: 0 14px;
    padding-top: 30px;
    list-style: none;
}